 body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

.top-menu {
    background-color:#1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

li {
    display: flex;
    flex-direction: row;
    float: left;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

.top-body {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.left-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-text {
    display: flex;
    flex-wrap: wrap;
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
}

.sub-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB;
}


.signup-button {
    display: flex;
    background-color: #3882f6;
    border-radius: 8px;
    color: #E5E7EB;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
}

.right-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
    color: #E5E7EB;
}

.mid-body-1 {
    background-color: white;
}

.mid-body-2 {
    background-color: #E5E7EB;
}

.bottom-body {
    background-color: white;
}

.footer-info {
    background-color:#1F2937;
}